<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label id="updateEmpleado">Editar empleado</label></div>
            <div class="panel-body">
                <form ng-submit="updateEmpleado()" name="empleado">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="empleadoName" class="col-sm-2">Nombre:</label>
                            <input class= "labelNegro" id="empleadoName" required ng-model="empleadoName" class="col-sm-8">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6" ng-if="empleadoTipo === 1">
                            <label for="empleadoTipo" class="col-sm-2">Tipo</label>
                            <select id="empleadoTipo" class="col-sm-6">
                               <option class= "labelNegro" selected="selected" value=1>Traductor</option>
                               <option class= "labelNegro" value=2>Corrector</option>
                               <option class= "labelNegro" value=3>Ambos</option>
                              </select> 
                        </div>
                        <div class="form-group col-md-6" ng-if="empleadoTipo === 2">
                            <label for="empleadoTipo" class="col-sm-2">Tipo</label>
                            <select id="empleadoTipo" class="col-sm-6">
                               <option class= "labelNegro" value=1>Traductor</option>
                               <option class= "labelNegro" selected="selected" value=2>Corrector</option>
                               <option class= "labelNegro" value=3>Ambos</option>
                              </select> 
                        </div>
                        <div class="form-group col-md-6" ng-if="empleadoTipo === 3">
                            <label for="empleadoTipo" class="col-sm-2">Tipo</label>
                            <select id="empleadoTipo" class="col-sm-6">
                               <option value=1>Traductor</option>
                               <option value=2>Corrector</option>
                               <option  selected="selected" value=3>Ambos</option>
                              </select> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!empleado.$valid">

                            <div class="alert alert-warning" >
                                <strong>Atencion</strong><p>Completar todos los campos</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="empleado.$valid" type="submit" value="Guardar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="empleadosList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>