<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label class="titulo-tabla">Lista de Pagos</label></div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-info" ui-sref="pagoCreate"><span class="glyphicon glyphicon-plus-sign"ng-if="isAuthenticated() && hasPermissions()" ng-show="isAuthenticated() && hasPermissions()"></span> Añadir pago</a>
                        </div>
                    </div>
                    <div class="no-more-tables">
                        <table class=" labelBlanco table table-striped table-bordered text-justify table-hover table-responsive labelDetail">
                            <thead>
                                <tr>
                                    <th>Empleado</th>    
                                    <th>Solicitud</th>  
                                    <th>Acciones</th>  
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pago in pagosRecords">
                                    <td class = labelblanco data-title="Empleado:" id="{{$index}}-idEmpleado"><a ui-sref="empleadoDetail({empleadoId: pago.idEmpleado})">{{pago.id}}</a></td>
                                    <td class = labelblanco id="{{$index}}-solicitud">{{pago.idSolicitud}}</td>
                                    <td class = labelblanco data-title="Acciones:" id="{{$index}}-actions">
                                        <a class="btn btn-default btn-sm" ui-sref="pagoUpdate({pagoId: pago.id})"><span class="glyphicon glyphicon-edit">Editar</span></a>
                                        <a class="btn btn-danger btn-sm" ui-sref="pagoDelete({pagoId: pago.id})"><span class="glyphicon glyphicon-trash">Eliminar</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>