<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed text-justify table-hover cf labelDetail">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>    
                        <th>Estado</th> 
                        <th>Costo</th>
                        <th>Oferta asociada</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat=" propuesta in propuestasRecords">

                        <td data-title="Id:" id="{{$index}}-id">{{propuesta.id}}</td>
                        <td data-title="Nombre:" id="{{$index}}-nombre">{{propuesta.nombre}}</td>
                        <td data-title="Estado:" id="{{$index}}-estado">{{propuesta.estado}}</td> 
                        <td data-title="Costo" id="{{$index}}-costo">{{propuesta.costo}}</td>
                        <td data-title="Oferta asociada" ng-if="ctrl.validacion(propuesta.oferta.codigo)" id ="{{$index}}-oferta">{{propuesta.oferta.codigo}}</td>
                        <td data-title="" ng-if="!ctrl.validacion(propuesta.oferta.codigo)" id ="{{$index}}-oferta">No hay ofertas asociadas</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
