<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
--><div class="col-md-6 well">

    <form novalidate name="form" id="city-form" role="form" ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">

        <div ng-messages="form.$error">
            <div ng-message="required">Fill the required fields!</div>
        </div>

        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id" />
            <div class="form-group col-md-2" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}">
                <label for="name" class="col-md-2 control-label">Name</label>
                <div class="col-md-2">
                    <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name" ng-init="currentRecord.name" required />
                </div>
            </div>
            <button type="button" ui-sref='listaOfertas'>Cancel</button>
            <button type="submit">Save</button>
        </fieldset>
    </form>
</div>
