<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>    
                    <th>Descripción</th>  

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" oferta in ofertasRecords">
                    <td id="{{$index}}-nombre">{{oferta.nombre}}</td>
                    <td id="{{$index}}-descripcion">{{oferta.descripcion}}</td>                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
