<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createHoja">Actualizar Hoja</label>
                <label ng-if="edit" id="editHoja">Editar Hoja</label></div>
            <div class="panel-body">
                <form ng-submit="updateHoja()" name="hojadevida">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="hojaName" class="col-sm-2">Nombre:</label>
                            <input id="hojaName" required ng-model="hojaName" class="col-sm-6"/>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <div class="form-group col-lg-10">
                            <label for="hojaDescripcion" class="col-sm-1">Descripcion</label>
                            <textarea id="hojaDescripcion" required ng-model="hojaDescripcion" class="col-lg-8" rows="10" cols="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-lg-10">
                            <label for="hojaFormacionAcademica" class="col-sm-1">Formacion Academica</label>
                            <textarea id="hojaFormacionAcademica"  required ng-model="hojaFormacionAcademica" class="col-lg-8" rows="10" cols="10"/></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-lg-10">
                            <label for="hojaPerfilProfesional" class="col-sm-1">Perfil Profesional:</label>
                            <textarea id="hojaPerfilProfesional" required ng-model="hojaPerfilProfesional" class="col-lg-8" rows="10" cols="10"/></textarea>
                        </div>
                    </div> 

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!hojadevida.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="hojadevida.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="empleadoHojas({empleadoId:idEmpleado,empleadoHoja:idHoja})">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<H1>{{trayectoriasHoja}}</H1>
<H1>{{idiomasHoja}}</H1>

