<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createOferta">Crear nueva oferta</label>
                <label ng-if="edit" id="editOferta">Editar oferta</label></div>
            <div class="panel-body">
                <form ng-submit="createOferta()" name="oferta">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="ofertaName" class="col-sm-2">Nombre:</label>
                            <input id="ofertaName" required ng-model="ofertaName" class="col-sm-6"/>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="ofertaDescripcion" class="col-sm-2">Descripcion:</label>
                            <input id="ofertaDescripcion" required ng-model="ofertaDescripcion" class="col-sm-6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="ofertaCodigo" class="col-sm-2">Codigo</label>
                            <input id="ofertaCodigo"  required ng-model="ofertaCodigo" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                             <label for="ofertaCantidadInicial" class="col-sm-2">Fecha vencimiento:</label>
                             <input type="date" id="fechaVigencia" placeholder="DD/MM/YYYY" required ng-model="fechaVigencia" class="col-sm-6"/>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="ofertaCantidadInicial" class="col-sm-2">Cantidad inicial de cupones:</label>
                            <input id="ofertaCantidadInicial" required ng-model="ofertaCantidadInicial" class="col-sm-6"/>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="ofertaCantidadActual" class="col-sm-2">Cantidad actual de cupones:</label>
                            <input id="ofertaCantidadActual" required ng-model="ofertaCantidadActual" class="col-sm-6"/>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!oferta.$valid">

                            <div class="alert alert-warning" >
                                <strong>¡ALERTA!</strong><p>Todos los campos deben llenarse*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="oferta.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="ofertasList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


